<div class="mx-2">

<div class="row justify-content-between mt-2 ">
  <div class="col-auto align-items-center">
    <span style="color: cornflowerblue;">contacts</span>
  </div>
  <div class="col-auto">
    <button type="button" class="btn2 btn-danger btn-sm mx-2" >
      <i class="bi bi-dash"></i>
    </button> 
    <button type="button" class="btn2 btn-danger btn-sm  mx-2" >
      <i class="bi bi-box-arrow-in-up-right"></i>
    </button>
    <button type="button" class="btn2 btn-danger btn-sm mx-2" >
      <i class="bi bi-x"></i>
    </button> 
   
   
  </div>
</div>

<hr>

<div class="row justify-content-between mt-2 ">
  <div class="col-auto">
    <span style="color: orange;">.contact list</span>
  </div>
  <div class="col-auto">
    <button class="btn"  style="margin-right: 10px;" type="button" routerLink="/add">Add contact</button>
    <button class="btn" type="button" routerLink="/addA">Add activity</button>
  </div>
</div>


<mat-form-field>
  <mat-label>recherche</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="chercher" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

   
    <ng-container matColumnDef="etoile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
      <td mat-cell *matCellDef="let row">
        <i class="bi bi-star"></i>  
      </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> firstname </th>
      <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
    </ng-container>

   
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> lastname </th>
      <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
    </ng-container>

   
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> company </th>
      <td mat-cell *matCellDef="let row"> {{row.company}} </td>
    </ng-container>

   
    <ng-container matColumnDef="job">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> job </th>
      <td mat-cell *matCellDef="let row"> {{row.job}} </td>
    </ng-container>

     <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>
    
     <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> phone </th>
      <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
    </ng-container>
    
     <ng-container matColumnDef="contactowner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> contactowner </th>
      <td mat-cell *matCellDef="let row"> {{row.contactowner}} </td>
    </ng-container>

    <ng-container matColumnDef="Opération">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> operation </th>
      <td mat-cell *matCellDef="let row"> 
        
      
        
        
        <button type="button" style="border-color:cornflowerblue; color: cornflowerblue;"  class="btn1 btn-warning  btn-sm ml-3 mx-1" (click)="update(row)">
          <i class="bi bi-pencil"></i>
        </button>
      
      <button type="button" class="btn1 btn-danger btn-sm ml-3" (click)="delete(row)">
        <i class="bi bi-trash"></i>
      </button>
      
  
           </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
  
  </table>
<div class="d-flex justify-content-center text-center">
  <mat-paginator  class="mx-5"  [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page "></mat-paginator>
</div>
  
</div>



</div>


