.row {
    display: flex;
  
  }

  .btn{
background-color: orange;
border: none;
color: white;
border-radius: 12px;
text-align: center;
height: 30px;
}

.btn2{
    background-color:darkgray;
    border: none;
    color: blue;
    border-radius: 12px;
    text-align: center;
    height: 30px;
    }

  .btn1{



    background-color: white;
    
    
    border-radius: 12px;
    text-align: center;
    height: 30px;
    
    
    
      }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  th{
    background-color:cornflowerblue;
    color: white;
  }

  .mat-column-Operation {

    width: 100%;
}
  
.mat-column-etoile {

    width: 7%;
}
  

  