<div class="mx-2">

  <div class="row justify-content-between mt-2 ">
    <div class="col-auto align-items-center">
      <span style="color: cornflowerblue;">activites</span>
    </div>
    <div class="col-auto">
      <button type="button" class="btn2 btn-danger btn-sm mx-2" >
        <i class="bi bi-dash"></i>
      </button> 
      <button type="button" class="btn2 btn-danger btn-sm  mx-2" >
        <i class="bi bi-box-arrow-in-up-right"></i>
      </button>
      <button type="button" class="btn2 btn-danger btn-sm mx-2" >
        <i class="bi bi-x"></i>
      </button> 
     
     
    </div>
  </div>
  
  <hr>
  
  <div class="row justify-content-between mt-2 ">
    <div class="col-auto">
      <span ></span>
    </div>
    <div class="col-auto">
     
      <button class="btn" type="button" routerLink="/addA">Add activity</button>
    </div>
  </div>
  
  
  <mat-form-field>
    <mat-label>recherche</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="chercher" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
   
     
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> date </th>
        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="participant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> participant </th>
        <td mat-cell *matCellDef="let row"> {{row.participant}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> subject </th>
        <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> note </th>
        <td mat-cell *matCellDef="let row"> {{row.note}} </td>
      </ng-container>
  
       
  
      <ng-container matColumnDef="Opération">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> operation </th>
        <td mat-cell *matCellDef="let row"> 
          
        
          
          
          <button type="button" style="border-color:cornflowerblue; color: cornflowerblue;"  class="btn1 btn-warning  btn-sm ml-3 mx-1" routerLink="/update">
            <i class="bi bi-pencil"></i>
          </button>
        
        <button type="button" class="btn1 btn-danger btn-sm ml-3" (click)="delete(row)">
          <i class="bi bi-trash"></i>
        </button>
        
    
             </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   
    </table>
  <div class="d-flex justify-content-center text-center">
    <mat-paginator  class="mx-5"  [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page "></mat-paginator>
  </div>
    
  </div>
  
  
  
  </div>
  
  
  