.btn2{
    background-color:darkgray;
    border: none;
    color: blue;
    border-radius: 12px;
    text-align: center;
    height: 30px;
    }


    .btn3{
        background-color:orange;
        border: none;
        color: white;
        border-radius: 12px;
        text-align: center;
      
        }

        .btn4{
            background-color:aliceblue;
            border: none;
            color:#555;
            border-radius: 12px;
            text-align: center;
          
            }

    body {
        margin: 0;
        font-family: "Lato", sans-serif;
      }
      
      .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
    
        position: fixed;
        height: 100%;
        overflow: auto;
      }
      
      .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
      }
       
      .sidebar a.active {
        background-color: #04AA6D;
        color: white;
      }
      
      .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
      }
      
      div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
      }
      
      @media screen and (max-width: 700px) {
        .sidebar {
          width: 100%;
          height: auto;
          position: relative;
        }
        .sidebar a {float: left;}
        div.content {margin-left: 0;}
      }
      
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
      }
      
      @media screen and (max-width: 400px) {
        .sidebar a {
          text-align: center;
          float: none;
        }
      }

     

      